<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="n in 5">{{n}}</li>
        </ul>
        <ul>
            <li v-for="(n,index) in number">{{n}} {{index}}</li>
        </ul>
        <ul><li v-for="n in demo"> {{n.a}}</li></ul>
        <div>{{demo2.aaa}}</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        //v-for
        //v-for index
        //v-for 加上 key
       const { createApp } = Vue;
       const App = {
        data() {
            return {
              number: [11,22,33,44,55],
							demo : [{a:1},{a:2},{a:3}],
							demo2 : {}
            }
        },
       }
       const app = createApp(App);
       const vm = app.mount("#app")
    </script>
</body>
</html>