html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.main{
    width: 100%;
    max-width: 900px;
    /* background-color: aqua; */

    margin: 0 auto; /* 是針對塊級元素的置中*/
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
}
.main>header{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: aquamarine; */
}
.main>header img.logo{ 
    width: 200px;
    /* display: block;
    margin: 0 auto; */
}
/* img.logo{
    width: 200px;
} */
 .main>nav{
    /* background-color: aquamarine; */
    border-top: 1px solid #8a8000;
    border-bottom: 1px solid #8a8000;
    margin-bottom: 40px;
 }
 .main>nav>ul>li{
    display: inline-block;
    width: 33.333333%;
    /* background-color: red; */
    margin-right: -4px;
    height: 80px;
    line-height: 80px;
    text-align: center;

    font-size: 28px;
    font-weight: bold;
 }
 .main>nav>ul>li>a{
    color: #000;
    text-decoration: none;
    /* background-color: red; */
    display: block;
 }
 .main>nav>ul>li>a:hover{
    background-color: #dcdddd;
 }

 .main>nav>ul>li .text_en{
    color: #8a8000;
 }

 .main>.content img{
    width: 100%;
 }
 

/* 這是shop.html 的 css */
.shop_content>p{
    margin-bottom: 20px;
}
.shop_content>.item{
    border: 1px solid #8a8000;
    padding: 7px;
    padding-right: 13px;
}
.shop_content>.item>.item_left{
    display: inline-block;
    width: 20%;
    margin-right: -4px;
}
.shop_content>.item>.item_left img{
    width: 100%;
}
.shop_content>.item>.item_mid{
    display: inline-block;
    width: 40%;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 6px;
}
.shop_content>.item>.item_mid h2{
    font-size: 24px;
    font-weight: bold;
}
.shop_content>.item>.item_mid p{
    color: #8a8000;
    margin-top: 60px;
    font-weight: bold;
}
.shop_content>.item>.item_right{
    display: inline-block;
    width: 40%;
    margin-right: -4px;
    vertical-align: top;
}
.shop_content>.item>.item_right>.item_title{
    font-weight: bold;
    border-bottom: 1px solid #8a8000;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.shop_content>.item>.item_right>.item_child>.item_child_left{
    display: inline-block;
    width: 60%;
    margin-right: -4px;
}
.shop_content>.item>.item_right>.item_child>.item_child_right{
    display: inline-block;
    width: 40%;
    margin-right: -4px;
    vertical-align: top;
    text-align: right;
}

.buy_btn{
    text-decoration: none;
    background-color: #8a8000;
    color: #fff;
    padding: 8px 10px;
    border-radius: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    /* margin-top: 5px; */
    display: inline-block;
}
