<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-show="open">打開</div>

        <div v-if="open">我是 true</div>
        <div v-else>我是 false</div>

        <div v-if="(demo == 1)">我是1</div>
        <div v-else-if="(demo == 2)">我是2</div>
        <div v-else-if="(demo == 3)">我是3</div>
        <div v-else>我是其他</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        //v-if v-else v-else-if (vue會幫你移除元素)
        //v-show (display:none) 
        const { createApp } = Vue;
        const App = {
            data(){
                return {
                    open : false,
                    demo: 5,
                }
            },
        }
        const app = createApp(App);
        const vm = app.mount("#app");
    </script>
</body>
</html>