@import '_variables'; //引入全域變數
@import "../node_modules/bootstrap/scss/bootstrap";

// 這是 reset 
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

// 這是滑鼠全選的顏色
::selection{
    background-color: #D01A48;
    color: #fff;
}
img::selection{
    background: transparent;
}

//這是 header
header{
    height: 100vh;
    // background-color: black;
    // background-image: url(../img/bg/bg-32.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    nav{
        padding: 0 35px;
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 10;
//				background: red;
				height: 75px;
        .logo .mobile{
            display: none;
        }
        .logo .pc{
            display: block;
        }
        ul.nav_left{
            display: flex;
            margin-top: 19px;
            gap: 2px;
            .nav_menu{
                display: none;
                position: absolute;
                width: 150px;
                ol{
                    margin-top: 15px;
                }
                a{
                    background-color: #f8f8f8;
                    color: #000;
                    display: block;
                    padding: 10px 20px;
                    font-size: 15px;
                    &:hover{
                        background-color: #fff;
                    }
                }
            }
            >li{
                border-radius: 10px;
                >a{
                    color: #fff;
                    font-size: 15px;
                    display: block;
                    padding: 4px 10px;
                }
                &:hover{
                    background-color: #d01a48;
                    .nav_menu{
                        display: block;
                    }
                }
            }
            &.collapse:not(.show){
                display: flex!important;
            }
        }
        ul.nav_right{
            display: flex;
            margin-top: 19px;
            margin-left: auto;
					  gap:10px;
        }
        .nav_search{
            margin-top: 19px;
						width: 25px;
						height: 25px;
						text-indent: -9999px;
						background-image: url(../img/search.svg);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
        }
    }
    .go_down{
        position: absolute;
        left: 50%;
        margin-left: -65px;
        bottom: 18px;
        width: 136px;
        height: 47px;
        background-image: url(../img/go_down.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-indent: -9999px;
    }
    .bottom_area{
        position: absolute;
        color: #fff;
        height: 240px;
        width: 100%;
        max-width: 800px;
        left: 0;
        bottom: 0;
        padding-left: 33px;
        background-image: url(../img/bottom_area.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        h1{
            position: absolute;
            top: -30%;
            font-size: 39px;
            letter-spacing: 2px;
            font-weight: lighter;
        }
        p{
            width: 40%;
            position: absolute;
            top: 11%;
            line-height: 27px;
        }
        a{
            display: block;
            border: 1px solid #fff;
            border-radius: 5px;
            width: 108px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            position: absolute;
            bottom: 24px;
            &:hover{
                background-color: #fff;
                color: #000;
            }
        }
    }
}

.nav_mobile{
    position: relative;
    cursor: pointer;
    top: 10px;
    display: none;
   .menu{
      width: 32px;
      display: inline-block;
      vertical-align: bottom;
    }
   .menu .line{
      width: 100%;
      height: 3px;
      background-color: #fff;
      margin-bottom: 5px;
      border-radius: 3px;
    }
}

.public_icon{
	width: 30px;
	height: 30px;
//	background-color: red;
	text-indent: -9999px;
	display: inline-block;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
	&.icon_facebook{
		background-image: url(https://khsmusicweb.blob.core.windows.net/public/uploads/indexManage/1641959728.png)
	}
	&.icon_youtube{
		background-image: url(https://khsmusicweb.blob.core.windows.net/public/uploads/indexManage/1641959429.png)
	}
	&.icon_line{
		background-image: url(https://khsmusicweb.blob.core.windows.net/public/uploads/indexManage/1641959874.png)
	}
}

//swiper 輪播圖
.swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  //輪圖覆蓋上下漸層
 .swiper-slide{
    &::before{
        content: "";
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 100%);
        width:100%;
        height:50%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0.55;
    }
    &::after{
        content:"";
        background-color: rgba(0, 0, 0, 0.3);
        width:100%;
        height:100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
 }

 .swiper-pagination{
    text-align: right;
    padding-right: 20px;
    width: 30% !important;
    left: auto !important;
    right: 0 !important;
}
.swiper-pagination-bullet{
    width: 13px;
    height: 33px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='13.238px' height='10.4px' viewBox='0 0 13.238 10.4' enable-background='new 0 0 13.238 10.4' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M12.903,2.048c-1.146-2.284-4.888-2.724-8.358-0.982C1.074,2.807-0.81,6.069,0.335,8.353 c1.146,2.284,4.888,2.723,8.358,0.983C12.164,7.594,14.049,4.332,12.903,2.048z M4.463,9.245c-1.495,0-2.651-0.527-3.095-1.41 C0.864,6.829,1.366,5.68,1.709,5.084C2.393,3.9,3.584,2.84,5.063,2.099c1.229-0.617,2.512-0.942,3.712-0.942 c1.495,0,2.652,0.527,3.095,1.41c0.505,1.006,0.003,2.155-0.341,2.751C10.845,6.5,9.654,7.561,8.175,8.302 C6.947,8.919,5.664,9.245,4.463,9.245L4.463,9.245z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    border-radius: inherit;
    opacity: 1;
    filter: drop-shadow(2px 2px 5px #505050);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 13px;
    height: 33px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='13.239px' height='32.787px' viewBox='0 0 13.239 32.787' enable-background='new 0 0 13.239 32.787' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cellipse transform='matrix(0.8938 -0.4484 0.4484 0.8938 -11.6672 5.897)' fill='%23D01A48' cx='6.619' cy='27.586' rx='7.03' ry='4.626'/%3e%3c/g%3e%3crect x='12.16' fill='%23D01A48' width='1.079' height='25.864'/%3e%3c/g%3e%3c/svg%3e");
    opacity: 1;
    filter: drop-shadow(2px 2px 5px #505050);
}


//這是 service
.service {
    background-color: #D01A48;
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
        width: 100%;
        height: 80px;
        background-color: #fff;
        text-align: right;
        position: relative;

        &::before {
            content: "";
            width: 10%;
            height: 77px;
            display: block;
            background-color: #D01A48;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .service_h2 {
            max-width: 1320px;
            margin: 0 auto;
            width: 100%;

            span {
                z-index: 1;
                position: relative;
                top: 20px;
                letter-spacing: 10px;
                right: 18px;
                color: #fff;
            }
        }

        .service_h2::before {
            content: "";
            position: absolute;
            width: 500px;
            height: 105px;
            top: -21px;
            right: 0;
            z-index: 1;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 100'%3E%3Cstyle%3E.st0%7Bfill:%23d01a48%7D%3C/style%3E%3Cpath class='st0' d='M0 100c35.1 0 76.8-5.8 123.9-22.2C221.4 43.7 292.1 0 377 0c51.3 0 74.6 22.9 103 22.9V100H0z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }
}

.service_parent {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px 10px;

    .service_inner {
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        .service_img {
            width: 100%;
            height: 330px;

            .inner {
                width: 100%;
                height: 100%;
                background-position: 50%;
                background-size: cover;
                cursor: pointer;
            }
        }

        .service_text {
            background-color: currentColor;
            padding: 16px;
            padding-top: 12px;
            position: relative;
            overflow: hidden;

            &.bg1 {
                background: green;
            }

            &.bg2 {
                background: blue;
            }

            .service_bg {
                width: 150px;
                height: 150px;
                position: absolute;
                margin-left: 12px;
                background-repeat: no-repeat;
            }

            .service_inner {
                margin-left: 182px;
                padding-top: 19px;
                padding-bottom: 36px;

                h3 {
                    color: #ffffff;
                    font-size: 32px;
                    margin-bottom: 18px;
                    letter-spacing: 0.04em;

                    a {
                        color: #ffffff;
                    }
                }

                p {
                    color: #ffffff;
                    line-height: 25px;
                    height: 73px;
                    overflow: hidden;
                    font-size: 0.94rem;
                }
            }

            .service_more {
                width: 231px;
                height: 61px;
                position: absolute;
                right: 0;
                bottom: 0;
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 219.7 56.7' style='enable-background:new 0 0 219.7 56.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,56.7h219.7V0.1C134.2-1.5,68.3,22.9,0,56.7z'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                color: currentColor;
                text-align: right;
                padding-top: 25px;
                font-weight: bold;
                border-bottom-right-radius: 20px;

                a {
                    color: #000;
                }
            }
        }
    }
}

//這是 news
.news_parent{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 7px 24px -2px rgba(0, 0, 0, 0.1);
    width: 100%;
    .news_img{
      aspect-ratio: 3 / 2;
      overflow: hidden;
    }
    .news_img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .news_area{
      width: 100%;
      height: 70px;
      padding: 0 20px;
      padding-top: 23px;
      border-top: 10px solid currentColor;
      .area_button{
        float: left;
      }
      .news_time{
        color: #848484;
        font-size: 15px;
        text-align: center;
        float: right;
        position: relative;
        top: 7px;
      }
    }
    .news_text{
      width: 100%;
      padding: 5px 20px;
      color: #000000;
      h3{
        font-weight: bold;
        font-size: 22px;
        line-height: 1.25em;
        height: 84px;
      }
      a{
        color: #000000;
      }
      p{
        line-height: 25px;
        color: #424242;
        height: 77px;
        overflow: hidden;
        letter-spacing: 0.075em;
        margin-top: 19px;
      }
    }
}



@media(max-width: 991px){
    header{
        nav{
            padding: 0 15px;
            .logo .mobile{
                display: block;
            }
            .logo .pc{
                display: none;
            }
            ul.nav_left{
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                flex-direction: column;
                gap: 0;
                >li{
                    background-color: #fff;
                    width: 100%;
                    text-align: left;
                    height: 58px;
                    line-height: 58px;
                    border-radius: 0;
                    border-bottom: 1px solid #bbb;
                    a{
                        color: #000;
                    }
                    &:hover{
                        background-color: #fff;
                        .nav_menu{
                            display: none;
                        }
                    }
                }
                &.collapse:not(.show){
                    display: none!important;
                }
            } 
        }
    }
    .nav_mobile{
        display: block;
    }
    .service_parent {
        flex-direction: column;
    }
}